## **Machine Learning Project for Customer Churn Dataset**

### **Data Load Steps**


*   Csv files are retrived from Google Drive

In [1]:
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
customer_history = pd.read_csv('/content/drive/MyDrive/Customer Churn/customer_history.csv')
customers = pd.read_csv('/content/drive/MyDrive/Customer Churn/customers.csv')
referance_data_test = pd.read_csv('/content/drive/MyDrive/Customer Churn/referance_data_test.csv')
referance_data = pd.read_csv('/content/drive/MyDrive/Customer Churn/referance_data.csv')
sample_submission = pd.read_csv('/content/drive/MyDrive/Customer Churn/sample_submission.csv')

In [4]:
print(customer_history.head()) ;
print(customers.head()) ;
print(referance_data_test.head()) ;
print(referance_data.head()) ;
print(sample_submission.head())

   cust_id        date  mobile_eft_all_cnt  active_product_category_nbr  \
0        0  2016-01-01                 1.0                            2
1        0  2016-02-01                 1.0                            2
2        0  2016-03-01                 2.0                            2
3        0  2016-04-01                 4.0                            2
4        0  2016-05-01                 3.0                            3

   mobile_eft_all_amt  cc_transaction_all_amt  cc_transaction_all_cnt
0              151.20                     NaN                     NaN
1              178.70                     NaN                     NaN
2               37.38                     NaN                     NaN
3              100.90                     NaN                     NaN
4              132.28                     NaN                     NaN
   cust_id gender  age province religion      work_type work_sector  tenure
0        0      F   64      NOH        U      Part-time  Technology     135
1        1      F   57      ZUI        O      Full-time     Finance      65
2        2      F   62      NOB        M  Self-employed  Healthcare     224
3        3      F   22      ZUI        C        Student         NaN      47
4        5      M   27      ZUI        U      Full-time     Finance     108
   cust_id    ref_date
0        1  2019-02-01
1        2  2019-01-01
2        9  2019-03-01
3       15  2019-06-01
4       19  2019-01-01
   cust_id    ref_date  churn
0        0  2017-09-01      0
1        3  2018-10-01      0
2        5  2018-03-01      1
3        6  2018-04-01      1
4        7  2018-05-01      0
   cust_id  churn
0        1      0
1        2      0
2        9      0
3       15      0
4       19      0

In [5]:
# all dataframes are copied for future usage.
customer_history_copy = customer_history.copy()
customers_copy = customers.copy()
referance_data_test_copy = referance_data_test.copy()
referance_data_copy = referance_data.copy()
sample_submission_copy = sample_submission.copy()

### **Data Cleaning and Preprocessing**

In [ ]:
df_list = [customer_history, customers, referance_data_test, referance_data,sample_submission]

In [26]:
def desc_df(dfs):
    for name, obj in globals().items():
        if isinstance(obj, pd.DataFrame) and any(obj is df for df in dfs):
          print(obj.info())

desc_df(df_list)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5359609 entries, 0 to 5359608
Data columns (total 7 columns):
 #   Column                       Dtype
---  ------                       -----
 0   cust_id                      int64
 1   date                         object
 2   mobile_eft_all_cnt           float64
 3   active_product_category_nbr  int64
 4   mobile_eft_all_amt           float64
 5   cc_transaction_all_amt       float64
 6   cc_transaction_all_cnt       float64
dtypes: float64(4), int64(2), object(1)
memory usage: 286.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176293 entries, 0 to 176292
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   cust_id      176293 non-null  int64
 1   gender       176293 non-null  object
 2   age          176293 non-null  int64
 3   province     176293 non-null  object
 4   religion     176293 non-null  object
 5   work_type    176293 non-null  object
 6   work_sector  146159 non-null  object
 7   tenure       176293 non-null  int64
dtypes: int64(3), object(5)
memory usage: 10.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43006 entries, 0 to 43005
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cust_id   43006 non-null  int64
 1   ref_date  43006 non-null  object
dtypes: int64(1), object(1)
memory usage: 672.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133287 entries, 0 to 133286
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   cust_id   133287 non-null  int64
 1   ref_date  133287 non-null  object
 2   churn     133287 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43006 entries, 0 to 43005
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  43006 non-null  int64
 1   churn    43006 non-null  int64
dtypes: int64(2)
memory usage: 672.1 KB
None

In [19]:
def check_null(dfs):
    null_list = []
    for name, obj in globals().items():
        if isinstance(obj, pd.DataFrame) and any(obj is df for df in dfs):
            nulls = obj.isnull().sum()
            if nulls.any():
                null_list.append((name, nulls[nulls > 0]))
    return null_list

check_null(df_list)

[('customer_history',
  mobile_eft_all_cnt        112334
  mobile_eft_all_amt        112334
  cc_transaction_all_amt    166746
  cc_transaction_all_cnt    166746
  dtype: int64),
 ('customers',
  work_sector    30134
  dtype: int64)]

In [23]:
def check_duplicates(dfs):
    duplicates_list = []
    for name, obj in globals().items():
        if isinstance(obj, pd.DataFrame) and any(obj is df for df in dfs):
            dups = obj.duplicated().sum()
            if dups.any():
                duplicates_list.append((name, dups[dups > 0]))
    return duplicates_list

check_duplicates(df_list)

[]